name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Begin CI...
        uses: actions/checkout@v2

      - name: Use Node 22
        uses: actions/setup-node@v1
        with:
          node-version: 22.x

      - name: Install dependencies
        run: npm install
        env:
          CI: true

      - name: Lint
        run: npx lint
        env:
          CI: true

      - name: Test
        run: npx vitest run test --coverage
        env:
          CI: true

      - name: Build
        run: npx build
        env:
          CI: true
